h1 {color: white;
font-size: 18px;
}

h2 {
  color: whitesmoke;
	font-size: 50px;
	font-family: Helvetica;
}

h3 {
  color: white;
	font-size: 15px;
	font-family: Arial;
}

h4 {
  color: black;
	font-size: 15px;
	font-family: Arial;
	margin: 10px;
}


body {
  color: rgb(10, 10, 10);     /* Text color */
	background-color: #004b23;  /* Background color */
}

div {
	margin: 0 auto;
	text-align: center;
	border-radius: 10;
}

h5 {
  color: black;
	font-size: 50px;
	font-family: Helvetica;
}

h6 {
  color: black;
	font-size: 8px;
	font-family: Arial;
	margin: 10px;
}


.card-center{
	width: 800px;
	background-color: lightgrey;
	border-radius: 50px;
	text-align: center;
	margin: 30px auto;
	padding: 10px;
	box-shadow: 5px 5px 5px grey;

}

#efjimage {
	width: 600px;
	border-radius: 10px;

}


#footimage {
	width: 500px;
	border-radius: 10px;
	margin: 50px auto;
	display: block;

}

#mouton1image {
	width: 600px;
	border-radius: 50px;
	margin: 70px auto;
	display: block;
	box-shadow: 10px 5px 5px grey;

	
}


#moutonimage {
	width: 200px;
	border-radius: 50px;
	margin: 70px auto;
	display: block;

}

.fa-brands {
	font-size: 50px;
	color: darkseagreen;
}